<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
			"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
			
<mapper namespace="Board">

	<!-- <typeAlias type="com.example.demo.dto.BoardDTO" alias="board"></typeAlias>참고-->
	<!-- <insert id="save" parameterType="com.example.demo.dto.BoardDTO"> 참고-->
	<!-- <insert id="save" parameterType="board">참고-->
	<!-- insert 쿼리 -->
	<insert id="save" parameterType="board">
		insert into member(title, writer, pass, contents)
			values(#{title}, #{writer}, #{pass}, #{contents})
	</insert>
	
	<select id="findAll" resultType="board">
		select * from member
	</select>
	
	<select id="findById" parameterType="Long" resultType="board" >
		select id, title, writer, pass, contents
		from member where id=#{id}
	</select>
	
	<update id="update">
		update member set title=#{title}, contents=#{contents} where id=#{id}
	</update>
	
	<delete id="delete" parameterType="Long">
		delete from member where id=#{id}
	</delete>

</mapper>			
