<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>참가자 정보 상세보기</title>
<!--  css -->
<link th:href="@{/css/style.css}" rel="stylesheet" />
<!-- favicon오류해결: 공백 icon -->
<link rel="icon" href="data:;base64,iVBORw0KGgo=">
</head>
<body>
	<div class="main">
		<!-- 페이지상단 및 메뉴 -->
		<div th:insert="~{./header :: header}"></div>

		<section>
			<h1>참가자 정보 상세보기</h1>
		</section>
		<!--  -->
		<table>
			<tr>
				<th>참가번호</th>
				<td th:text="${artist.artist_id}"></td>
			</tr>
			<tr>
				<th>참가자명</th>
				<td th:text="${artist.artist_name}"></td>
			</tr>
			<tr>
				<th>생년월일</th>
				<td th:text="${artist.artist_birth}"></td>
			</tr>
			<tr>
				<th>성별</th>
				<td th:text="${artist.artist_gender}"></td>
			</tr>
			<tr>
				<th>특기</th>
				<td th:text="${artist.talent}"></td>
			</tr>
			<tr>
				<th>소속사</th>
				<td th:text="${artist.agency}"></td>
			</tr>

		</table>

	</div>
	<!-- <button onclick="listReq()">목록</button> -->
	<button onclick="updateReq()">수정 화면으로 이동 </button>
	<button onclick="deleteReq()">삭제하기</button>

	<!-- 페이지하단 -->
	<div th:insert="~{./footer :: footer}"></div>
</body>
<script th:inline="javascript">
    const listReq = () => {
        location.href = "/index";
    }
    const updateReq = () => {
    	//consol.log([[${artist.artist_id}]]);
    	//숫자타입 id = "A001"
    	//문자타입 artist.artist_id = ""A001""
    	
    	location.href = `/update/[[${artist.artist_id}]]`;
    	//매개변수로 넘어갈때 ""를 추가로 붙이는 오류를 해결중~
    }
    const deleteReq = () => {
        location.href = `/delete/[[${artist.artist_id}]]`;
    } 
</script> 

</html>>