<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
	<div class="main">
		<div th:insert="~{./header :: header}"></div>
		
	<section>
		<h1>오디션 홈페이지</h1>
	</section>
	<!-- 참가자 목록 조회 -->
		<div th:insert="~{./list :: list}"></div>	
	
	<!-- 페이지하단 -->
		<div th:insert="~{./footer :: footer}"></div>
	</div>
</body>
</html>