<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<mapper namespace ="Member">
	<!-- insert -->
	<insert id="save" parameterType="member">
		insert into membertbl(custno, custname, phone, address, joindate, grade, city)
				values(#{custno}, #{custname}, #{phone}, #{address}, #{joindate}, #{grade}, #{city})
	</insert>
	
	<select id="findAll" resultType="member">
		SELECT * FROM membertbl
	</select>
	
	<select id="findById" parameterType="Integer" resultType="member">
		select custno, custname, phone, address, joindate, grade, city
		from membertbl where custno=#{custno}
	</select>
	
	<update id="update">
		update membertbl set city=#{city} where custno=#{custno} 
	</update>
	
	<delete id="delete" parameterType="Integer">
		delete from membertbl where custno=#{custno}
	</delete>
	
</mapper>