<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!-- 순서3. 마이바티스 컨피그 설정 -->
<configuration>

	<settings>
		<setting name="logImpl" value="org.apache.ibatis.logging.stdout.StdOutImpl"/>
	</settings>
	
    <typeAliases>
        <typeAlias type="com.wjb.dto.MemberDTO" alias="member"></typeAlias>
        <typeAlias type="com.wjb.dto.MoneyDTO" alias="money"></typeAlias>
    </typeAliases>
</configuration>