<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>회원추가</title>
</head>
<div th:insert="./head :: header"></div>
<hr>
<body>
	<form action="/save" method="post">
		회원번호 : <input type="text" name="custno"><br>
		이름 : <input type="text" name="custname"><br>
		전화 : <input type="text" name="phone"><br>
		주소 : <input type="text" name="address"><br>
		가입날짜 : <input type="text" name="joindate"><br>
		등급 : <input type="text" name="grade"><br>
		도시 : <input type="text" name="city"><br>
		<input type="submit" value="작성">
		
	</form>
	<hr>
	<div th:insert="./footer :: footer"></div>

</body>
</html>