<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<mapper namespace ="Board">
	<!-- insert -->
	<insert id="save" parameterType="Board">
		insert into memberTBL(custno, custname, phone, address, joindate, grade, city)
				values(#{custno}, #{custname}, #{phone}, #{address}, #{joindate}, #{grade}, #{city})
	</insert>
	
	<select id="findAll" resultType="board">
		select * from memberTBL
	</select>
	
	<select id="findById" parameterType="Long" resultType="board">
		select custno, custname, phone, address, joindate, grade, city
		from memberTBL where custno=#{custno}
	</select>
	
	<update id="update">
		update memberTBL set city=#{city} where custno=#{custno} 
	</update>
	
	<delete id="delete" parameterType="Long">
		delete from memberTBL where custno=#{custno}
	</delete>
	
</mapper>